@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inconsolata&family=Roboto:wght@100;400;700&display=swap');

@import-normalize;
@import url('./reset.css');
@import url('./moviedetail.css');
@import url('./display.css');
@import url('./review.css');

:root {
  --main-bg: #111111;
  --card-bg: #1e1e1e;
  --accent: #5293ab;
  --accent2: #ffba49;
  --alert: #d1473d;
  --text: #eeeeee;
  --radius: 5px;
  --roboto: 'Roboto', sans-serif;
  --alfa: 'Alfa Slab One', cursive;
  --mono: 'Inconsolata', monospace;
}

html {
  background: var(--main-bg);
  font-size: 16px;
  color: var(--text);
  font-family: var(--roboto);
  letter-spacing: 1px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  border-radius: 5px
}

.title {
  font-size: 2.1em;
  font-family: var(--alfa);
  transition: .3s ease;
}

.title span {
  color: var(--accent2)
}

.title:hover {
  transform: scale(1.1);
}

.titlebar {
  position: fixed;
  width: calc(100% - 150px);
  background: var(--card-bg);
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  padding-right: 100px;
  top: 0;
  z-index: 2;
}

.titlebar a {
  font-size: 1.3em;
  font-family: var(--mono)
}

#main-nav {
  margin: 0 auto;
  margin-top: 120px;
}

.s-input {
  width: 300px;
  margin: 25px auto;
  padding: 10px 20px;
  border: none;
  font-size: 1.3em;
  background: var(--card-bg);
  font-family: var(--mono);
  color: var(--text);
  border: 1px solid transparent;
  border-radius: 10px;
}

.s-input:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.searchresults {
  width: 50vw;
  margin: 0 auto;
}

.moviecard {
  padding: 10px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  background: var(--card-bg);
  transition: 0.2s ease;
}

.moviecard:hover {
  transform: scale(1.05);
}

.movieimg {
  width: 200px;
  height: 300px;
}


h1 {
  color: var(--accent);
}

.randoms {
  width: 1700px;
  margin: 0 auto;
}

.randoms h1 {
  width: 100%;
}
.randomcard {
  width: 540px;
  background: var(--card-bg);
  margin: 10px;
  border-radius: 5px;
  transition: 0.2s ease;
}

.randomcard:hover {
  transform: scale(1.05);
}

.randominfo h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.randominfo {
  width: 300px;
  padding: 20px;
}
.randomimg {
  border-radius: 5px 0 0 5px !important;
}

.about {
  background: var(--card-bg);
  margin: 0 auto;
  padding: 50px;
  margin-top: 150px;
  width: 500px;
  border-radius: var(--radius)
}

.about p {
  margin: 15px 0;
  line-height: 1.4;
}

.about strong {
  color: var(--accent);
}

.about a {
  text-decoration: underline;
}

.about h2 {
  font-family: var(--alfa);
  font-size: 2em;
  margin: 10px 0;
}
