@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inconsolata&family=Roboto:wght@100;400;700&display=swap');

@import-normalize;

:root {
  --main-bg: #111111;
  --card-bg: #1e1e1e;
  --accent: #5293ab;
  --alert: #d1473d;
  --text: #eeeeee;
  --roboto: 'Roboto', sans-serif;
  --alfa: 'Alfa Slab One', cursive;
  --mono: 'Inconsolata', monospace;
}

html {
  background: var(--main-bg);
  font-size: 16px;
  color: var(--text);
  font-family: var(--roboto);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.title {
  font-size: 3em;
  font-family: var(--alfa);
  margin: 40px;
}

#main-nav {
  width: 50vw;
  margin: 0 auto;
}

.s-input {
  width: 300px;
  margin: 25px auto;
  padding: 10px 20px;
  border: none;
  font-size: 1.3em;
  background: var(--card-bg);
  font-family: var(--mono);
  color: var(--text);
  border: 1px solid transparent;
  border-radius: 10px;
}

.s-input:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.searchresults {
  width: 50vw;
  margin: 0 auto;
}

.moviecard {
  padding: 10px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  background: var(--card-bg);
}

.movieimg {
  width: 200px;
  height: 300px;
}

h1 {
  color: var(--accent);
}
