.moviedetail {
  margin: 0 50px;
  width: 350px;
  font-size: 1.05em;
  text-align: right;
}

.yeardetail {
  font-size: .8em;
}

.moviedetail img {
  height: auto;
  width: 350px;
}

.moviedetail p {
  line-height: 180%;
}


.moviedetail h2 {
  font-size: 1.6em;
  margin: 10px 0;
  font-weight: 400;
}

.genres {
  display: inline-block;
}
