.reviewformcontainer {
  align-items: center;
  margin: 130px 0;
}

.reviews {
  width: 420px;
  max-height: 500px;
}

.reviewitem {
  background: var(--card-bg);
  padding: 15px;
  margin: 10px 0;
  width: 380px;
  max-height: 100px;
  overflow: scroll;
  border-radius: var(--radius)
}

.reviewform {
  width: 450px;
  margin: 10px 0;
}

.reviewform textarea {
  background: var(--card-bg);
  color: var(--text);
  padding: 15px;
  border-radius: var(--radius);
  outline-radius: var(--radius);
  font-size: 1.2em;
  border: none;
}

.reviewform textarea::placeholder {
  text-transform: lowercase;
  font-size: .8em;
}

.reviewform textarea:focus {
  outline: 1px solid var(--accent);
}

.reviewform input[type='submit'] {
  background: var(--card-bg);
  color: var(--text);
  padding: 8px;
  border: none;
  border-radius: var(--radius);
}

.reviewform input[type='submit']:hover {
  color: var(--accent)
}
.reviewform input[type='submit']:focus {
  outline: 1px solid var(--accent);
}

.deletebtn {
  background: var(--card-bg);
  border: none;
  padding: 10px;
  position: absolute;
  border-radius: var(--radius);
  color: var(--text);
  margin-top: 0;
  margin-left: 405px;
  margin-top: -30px;
  display: inline;
}

.deletebtn:hover {
  color: var(--alert);
}
